.banner-img{
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Merriweather', serif;
}


.pesquisa{
  display: flex;
  position: absolute;
  bottom: 150px;
  justify-content: center;
  align-items: center;
  padding: 20px 300px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  left: 600px;
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);

}

.text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-wrap: nowrap;
  font-size: 3.3rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: 'Merriweather', serif;
  padding: 0;
  position: absolute;
  bottom: 400px;
  align-items: center;
  left: 280px;
   text-shadow: -6px 0px 5px rgb(96 49 14 / 99%);
  text-decoration: none;
}
.container{
  position: relative;
}