.banner-img{
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Merriweather', serif;
}


.pesquisa{
  display: flex;
  position: relative;
  bottom: 150px;
  justify-content: center;
  align-items: center;
  padding: 20px 300px;
  color: rgb(247, 176, 23);
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(109, 85, 40, 0.767);
  box-shadow: 0px 0px 10px rgba(255, 208, 0, 0.308);
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid rgba(95, 31, 2, 0.288);
  font-weight: 600;
  font-family: 'Merriweather', serif;
  
}

.txt-pesquisa::placeholder{
  color: rgb(97, 51, 9);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-wrap: nowrap;
  font-size: 3.3rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: 'Merriweather', serif;
  padding: 0;
  position: absolute;
  bottom: 350px;
  align-items: center;
  left: 0;
  right: 0;
   text-shadow: -6px 0px 5px rgb(96 49 14 / 99%);
  text-decoration: none;
  margin: auto;
  background-color: none;
}
.container{
  position: relative;
  padding: auto;
  flex-wrap: wrap;
}
