.categorias{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fdfdfd;
    font-family: 'Merriweather', serif;
    padding: 20px;
    box-shadow: #a86b094f 10px 0px 40px 0px inset;
    height: 190px;
    justify-content: center;
}

.generos{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 5px;
    background-color: transparent;
   
    
}

.cat{
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #a87e4b;
    position: relative;
    margin-bottom: 10px;
}

h4{
    color: #996f3b;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-decoration: none;
    justify-content: center;
    text-decoration-line: none;
   
}

.svg img{
    width: 130px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.svg:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    color: #db8802;
}

.svg{
    text-decoration: none;
    text-align: center;
    text-decoration-line: none;
}