.container-categorias {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  background-color: #523223;
  font-family: 'Merriweather', serif;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.cat {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #ffc029;
  background-color: #361c10;
  padding: 15px ;
    width: auto;
  height: 150px;
  right: 0%;
  left: 0%;
  border-radius: 15px;
}

.cat1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #ffc029;
  background-color: transparent;
}

.generos {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  background-color: transparent;

}


.item {
  
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #cfa144;
  transition: transform 0.5s ease;
}


.item:hover {
  transform: scale(1.05);
  border-color: #ffc029;
  box-shadow: 10px 6px 12px rgba(255, 192, 41, 0.2);
}


.item h4 {
  margin-top: 10px;
  color: #ffc029;
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  
}
