.contatos{
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

.contato-titulo{
    text-align: center;
    font-size: 1.9rem;
    margin: 35px 0px 30px 0px;
    bottom: 0px;
    color: #ffc029;
    text-shadow: 2px 2px 4px #0000001f;
}

.contatos-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: transparent;
}

.contatos-icons img{
    display: flex;
    width: 80px;
    height: 80px;
    margin: 0px 90px;
    background-color: transparent;
}

.localizacao{
    width: 100%;
    height: 600px;
    background-color: #523223;
}

.localizacao h3{
    text-align: center;
    font-size: 1.9rem;
    padding: 30px 15px 25px 0px;
    margin: 35px 0px 30px 0px;
    bottom: 0px;
    color: #ffc029;
    text-shadow: 2px 2px 4px #00000033;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.container-mapa{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    border: 4px solid #a7690594;
}
