.depoimentos{
    background-color:#ffffff;
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column;
}

.depoimento-titulo{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 20px;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
    color: #694100;
}

.depoimento-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.depoimento-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5deb3;
    border: 2px solid #a7690594;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 50px 20px;
    box-shadow: 15px 10px 30px 0px #f5c577;
}

.foto-perfil{
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #694100;
}

.depoimento-texto{
    font-family: 'Merriweather', serif;
    color: #694100;
    text-align: center;
}
.citacao{
    padding: 10px;
}