.container-espaco1{

    padding: 50px 20px;
    background-color: #523223;
    position: relative;
    background-image: url('../img/space2.png');
    background-repeat: no-repeat;
    background-position: -200px;
    background-size: 60%;
    margin-left: -20px;
}

 .espaco{
    font-family: 'Merriweather', serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #ffc029;
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent;
    
 }

    .titulo-interno{
        font-size: 2.5rem;
        font-weight: 700;
        color: #ffc029;
        text-align: center;
        margin-bottom: 20px;
    }
    
  

.container-espaco{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    background-color: transparent;
}

.culuna-esquerda{
    display: flex;
    flex-direction: column;
  gap: 20px;
  background-color: transparent;
}

.img-esquerda{
    width: 15rem;
    background-color: transparent;

}

.coluna-central{
    display: flex    ;
    width: 78%;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    overflow: visible;
    background-color: transparent;
}

.img-central{
    width:47rem;
   background-color: transparent;
}

.culuna-direita{
    display: flex;
    flex-direction: column;
  gap: 20px;
    background-color: transparent;
}
.img-direita{
    width: 15rem;
}

.texto-central{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fdf6ec;
}

.img-direita-1{
    border-radius: 0 10px 0 0;
}

.img-direita-2{
    border-radius: 0 0 10px 0;
}

.img-esquerda-1{
    border-radius: 10px 0 0 0;
}

.img-esquerda-2{
    border-radius: 0 0 0 10px;
}

.cards-espaco{
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    background-color: transparent;
}
.card-central{
    flex-basis: calc(50% - 10px);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    
    border-radius: 10px;    
    padding: 20px;
    text-align: center;
    transition: transform 0.4s ease-in-out;
}

.figcaption-espaco{
    position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #521f02cc, transparent);
        color: #fdf6ec;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        padding: 10px;
        text-align: center;
        transform: translateY(115%);
        transition: transform 0.4s ease-in-out;
        backdrop-filter: blur(5px);
}

.card-central:hover .figcaption-espaco{
    transform: translateY(1%);
}

