.footer {
  background-color: #381f13;
  color: #ffc029;
  padding: 40px 20px 20px 20px;
  font-family: Arial, sans-serif;
}


.container-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}


.footer-nome{
    display: flex;
  align-items: flex-start;
  gap: 10px;
}


.footer-nome h3{
    position: relative;
    top: 30px;
    margin-left: 6px;
}


.logo-footer {
  width: 130px;
  height: auto;
  margin: 0;
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 100px;
 
}


.links{
    display: flex;
    flex-direction: column;
}


.links h4{
    margin-bottom: 15px;
    color: #ffc029;
}


.links a {
  color: #ffc029;
  text-decoration: none;
  margin-bottom: 10px;
}


.links a:hover{
    color: #f79902;
}


.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
  font-weight: 600;
  color: #ac7104;
}


.footer-section p {
  margin: 5px 0;
  font-size: 14px;
}


.footer-redes a {
  margin-right: 10px;
  display: inline-block;
}


.footer-redes img {
  width: 40px;
  height: 40px;
}


.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ffffff94;
  font-size: 13px;
}


