.footer{
    background-color: #a87e4b;
    width: 100%;
    
}

.logo-footer{
    width: 80px;
    border-radius: 85px;
    padding: 10px;
    position: relative;
    left: 90px;
}

.alfarrabio{
    position: relative;
    justify-content: end;
    left: 170px;
    bottom: 59px;
    color: white;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    
}

.menu-footer1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    
}