header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #e1c39f;
}

.logo {
  height: 50px;
  border-radius: 50%;
  left: 360px;
  position: relative;
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  align-items: center;
  display: flex;
  position: relative;
  right: 754px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  color: white;
}
nav ul li a:hover {
  color: #a87e4b;
}

.search {
  padding: 0.5rem;
  border-radius: 15px;
  border: 1px solid #ccc;
}

