header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #fcf6e9;
  height: 95px;
  
}

.logo {
  height: 90px;
  border-radius: 50%;
  margin-right: 5rem;
  position: relative;
  display: flex;
  left: -350px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  left: -110px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  color: rgb(189, 144, 86);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.2rem;
}
nav ul li a:hover {
  color: #ffffff;
  background-color: rgba(189, 144, 86, 0.582);
  border-radius: 15px;
  width: 100px;
  transition: ease-in-out ;
}

.search {
  padding: 0.5rem;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.alfa{
    position: relative;
    display: flex;
    left: -400px;
    top: 5px;
    font-family: 'Merriweather', serif;
    color: rgb(189, 144, 86);
    font-size: 1.5em;
}

