.cards-novidades {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 90px 160px;
  font-family: 'Merriweather', serif;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  height: auto;
  
}


.novidade{
  color: #ffc029;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  text-decoration: none;
  padding: 5px;
  margin-top: 50px;
}

.novidades h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card-livros {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
 
}



.card-livro  {
  display: flex;
  position: relative;
  height: 300px;
  width: 200px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(58, 31, 1, 0.623);
  text-align: center;
  flex-direction: row;
  
  
}
.card-livro img {
  display: flex;
  position: relative;
  height: 300px;
  width: 200px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(58, 31, 1, 0.623);
}


.card-livro:hover{
  background-color: transparent;

}

.name{
  padding: 20px 15px 10px;
  gap: 0.5rem;
  color: #d4a405;
  font-family: 'Merriweather', serif;
  font-size: 1.2rem; 
  text-decoration: none;
  font-weight: bold;
  position: relative;
  font-size: 1.1rem;
  
}

small{
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  font-size: 0.9rem;
  margin: 0.1rem 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}



.saiba-mais {
  margin-top: auto;  /* empurra o botão pro fim */
 color: #2a1b14; /* texto escuro pra contrastar */
  background-color: #ffc029; /* dourado */
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: 'Merriweather', serif;
  
}
.saiba-mais:hover {
  background-color: #e0b907; /* dourado mais fechado */
  transform: scale(1.05); /* dá um "zoomzinho" no hover */
}


.card-livro {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px; /* Profundidade do efeito 3D */
  
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-livro:hover .card-inner {
  transform: rotateY(180deg); /* Vira o card */
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Esconde o verso quando não está virado */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(58, 31, 1, 0.623);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Frente do card */
.card-front img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Verso do card */
.card-back {
  background-color: #1b1301;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* joga conteúdo pro topo e botão pro fim */
  align-items: center;
  padding: 15px;
}

.card-back .name {
  color: #e09200;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: transparent;
}

.card-back small {
  margin-bottom: 15px;
  font-size: 0.9rem;
  background-color: transparent;
}





.sinopse {
  font-size: 0.9rem;
  margin-top: 10px;
  font-family: 'Merriweather', serif;
  line-height: 0.95rem;
  gap: 0.5rem;
  background-color: transparent;
  text-align: justify center;
  display: flex;
}