.novidades {
  height: auto;
  padding: 2rem;
  font-family: 'Merriweather', serif;
}

.novidades h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.livros {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.8rem;
 
}

.livro{
  text-align: center;
  display: flex;
  flex-direction: column;
 
}

.livro img {
  display: flex;
  position: relative;
  height: 300px;
  width: 200px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(58, 31, 1, 0.623);
}


.livros:hover img{
  background-color: #694100;
  box-shadow: 0 8px 16px rgba(63, 21, 2, 0.623);
}

.novidade{
  color: #a87e4b;
}

.name{
  padding: 5px;
  color: #694100;
  font-family: 'Merriweather', serif;
  font-size: 1.2rem; 
  text-decoration: none;
  font-weight: bold;
}

small{
  color: #a87e4b;
  text-decoration: none;
  list-style: none;
  font-size: 0.9rem;
  margin: 0.1rem 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}
