@media screen and (max-width: 728px) {
    body {
        font-size: 14px;
    }
    
    header, footer {
        padding: 10px;
    }
    .banner{
        width: 100%;
    }
    .container {
        width: 100%;
        padding: 0 15px;
    }
    
    .nav-menu {
        display: block;
        text-align: center;
    }
    
    .nav-menu li {
        margin-bottom: 10%;
    }
    
    .categorias {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .categorias img {
        width: 80%;
        height: auto;
    }

    .depoimento{
        font-size: 16px;
        padding: 20px;
    }
    .depoimento-card {
        width: 90%;
        margin: 20px auto;
    }

    .depoimento-titulo {
        font-size: 1.8rem;
    }

    .foto-perfil {
        width: 100px;
    }
    .depoimento-texto {
        font-size: 14px;
    }


    .depoimento-container {
        flex-direction: column;
        align-items: center;
    }
    .sobre {
        padding: 20px;
        text-align: center;
    }

    .sobre img {
        width: 100%;
        height: auto;
    }
    .sobre-texto {
        font-size: 14px;
    }



    
    .espaco{
        width: 100%;
        padding: 25px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1px;
    }

    .img-esquerda-1, .img-esquerda-2 {
        width: 100px;
        height: 100px;
       border-radius: 0 0 0 10px;
    }
    
    .img-direita-1, .img-direita-2 {
        width: 100px;
        height: 100px;
       border-radius: 10 0 0 0px;
    }

    .img-central{
        width: 220px;
        height: 220px;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 2px;
    }
   
    .espaco-texto {
        font-size: 14px;
    }
    .figcapition-espaco {
        font-size: 12px;
        text-align: center;
    }
    .footer {
        text-align: center;
        padding: 10px;
    }
    .figcaption-espaco {
        font-size: 10px;
        text-align: center;
        margin-top: 5px;
        color: #ffffff;

    }
    .titulo-interno{
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 20px;
    }



    .pesquisa{
        position: relative;
        bottom: 150px;
        padding: 10px 50px;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 1rem;
        text-decoration: none;
        border: 1px solid rgba(95, 31, 2, 0.288);
    }

    .text {
        font-size: 2rem;
        position: relative;
        bottom: 200px;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .container{
    position: relative;
    flex-wrap: wrap;
    }
    .banner-img {
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-family: 'Merriweather', serif;
    }
    
}
