.sobre{
    display: flex;
    flex-direction: row; /* Alinha imagem e texto lado a lado */
    align-items: center;  /* Centraliza verticalmente */
    background-color: #fffcfc;
    padding: 20px;
    border-radius: 10px; 
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
}


.img-sobre{
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-left: 30px; /* Espaço entre imagem e texto */
}

.texto-sobre{
    flex: 1; /* Ocupa o espaço restante */
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #361800;
    text-align: left;
    padding: 20px;
    max-width: 800px;

}

.titulo-sobre {
   font-size: 1.9em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #a87e4b;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* Sobre Página */

.texto-sobre-pag {
    flex: 1; /* Ocupa o espaço restante */
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #361800;
    text-align: left;
    padding: 20px;
    max-width: 800px;
}

.img-sobre-pag {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-right: 30px; /* Espaço entre imagem e texto */
}

.sobre-pag {
    display: flex;
    flex-direction: row; /* Alinha imagem e texto lado a lado */
    align-items: center;  /* Centraliza verticalmente */
    background-color: #fffcfc;
    padding: 20px;
    border-radius: 10px; 
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 0 2px 5px rgba(55, 27, 0, 0.441);
    margin-bottom: 20px;
    position: relative;
    top: 0;
    left: 0;
}
.titulo-pag {
    font-size: 1.9em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #a87e4b;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.equipe{
     background-color: #e1c39f;
    padding: 20px;
    border-radius: 10px;
}

.texto-equipe-pag {
    flex: 1; /* Ocupa o espaço restante */
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #361800;
    text-align: left;
    padding: 20px;
    max-width: 800px;
    margin-left: 30px; /* Espaço entre texto e imagem */
    position: relative; /* Permite o uso de 'left' */
    left: -400px; /* Ajuste a posição horizontal do texto */
}

.img-equipe-pag {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-right: 30px; /* Espaço entre imagem e texto */
    right: 500px; /* Ajuste a posição horizontal da imagem */
    position: relative; /* Permite o uso de 'right' */
    right: -780px;
}

.equipe-pag {
    display: flex;
    flex-direction: row; /* Alinha imagem e texto lado a lado */
    align-items: center;  /* Centraliza verticalmente */
   
    padding: 20px;
    border-radius: 10px; 
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 20px;
    position: relative;
    justify-content: left;
    align-items: left;
    left: 15%;
}

div.carrossel-container {
    background-color: #fdfafa;
    overflow: auto;
    white-space:nowrap;
    padding: 20px;
}
 
div.carrossel-container img {
    width: 579px;
    height: 454px;
    object-fit: cover; /* Mantém proporção e recorta se necessário */
    border-radius: 10px;
    padding: 10px;
}