.sobre{
    display: flex;
    flex-direction: row; /* Alinha imagem e texto lado a lado */
    align-items: center;  /* Centraliza verticalmente */
    padding: 20px;
    border-radius: 10px; 
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
    background-color: #523223;
}


.img-sobre{
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-left: 30px; /* Espaço entre imagem e texto */
}

.texto-sobre{
    flex: 1; /* Ocupa o espaço restante */
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #f5e0c3;
    text-align: left;
    padding:20px;
    max-width: 800px;

}

.titulo-sobre {
   font-size: 1.9em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #ffc029;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px; /* Espaço acima do título */
}



/* Sobre Página */

.texto-sobre-pag {
    flex: 1; /* Ocupa o espaço restante */
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
    text-align: left;
    padding: 20px;
    max-width: 800px;
    background-color: transparent;
}

.img-sobre-pag {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-right: 30px; /* Espaço entre imagem e texto */
}

.sobre-pag {
    display: flex;
    flex-direction: row; /* Alinha imagem e texto lado a lado */
    align-items: center;  /* Centraliza verticalmente */
    padding: 20px;
    border-radius: 10px; 
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
}
.titulo-pag {
    font-size: 1.9em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #a87e4b;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.equipe{
    display: flex;
    flex-direction: row; /* Alinha imagem e texto lado a lado */
    padding: 15px;
    border-radius: 10px;
}

.texto-equipe-pag {
    flex: 1; /* Ocupa o espaço restante */
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    max-width: 800px;
    margin-left: 30px; /* Espaço entre texto e imagem */
    position: relative; /* Permite o uso de 'left' */
    left: -750px; /* Ajuste a posição horizontal do texto */
    background-color: transparent;
}

.img-equipe-pag {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-right: 30px; /* Espaço entre imagem e texto */
    right: 500px; /* Ajuste a posição horizontal da imagem */
    position: relative; /* Permite o uso de 'right' */
    right: -400px;
    display: block; /* Garante que a imagem seja exibida como bloco */
    margin-left: auto; /* Centraliza a imagem horizontalmente */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

.equipe-pag {
    display: flex;
    flex-direction: row; /* Alinha imagem e texto lado a lado */
    align-items: center;  /* Centraliza verticalmente */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px; 
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 20px;
    position: relative;
    justify-content: left;
    align-items: left;
    left: 15%;
}

.carrossel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carrossel {
  display: flex;
  animation: slide 20s linear infinite;
}

.carrossel img {
  width: 600px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

/* Animação infinita */
@keyframes slide {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
