.sobre{
    background-color: #fffcfc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.img-sobre{
    width: 600px;
    height: auto;
    border-radius: 40px;
    display: flex;
    position: relative;
}

.texto-sobre{
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-top: 20px;
    text-align: justify;
}