@import url("header.css");
@import url("banner.css");
@import url("novidades.css");
@import url("categorias.css");
@import url("espaco.css");
@import url("footer.css");
@import url("body.css");
@import url("depoimentos.css");
@import url("sobre.css");