@import url("header.css");
@import url("banner.css");
@import url("menu-secundario.css");
@import url("novidades.css");
@import url("categorias.css");
@import url("espaco.css");
@import url("footer.css");
@import url("body.css");
@import url("avaliacoes-footer.css");
@import url("sobre.css");
@import url("contato.css");
@import url("produtos.css");
@import url("sec-livros.css");
@import url("hero-animation.css");
@import url("books-letters-animation.css");
@import url("deshboard.css");
@import url("responsivo.css");
@import url("theme.css");
