<IfModule mod_rewrite.c>
    RewriteEngine On

    # Desativar listagem de diretórios
    Options -Indexes

    # Bloquear acesso a arquivos sensíveis
    <FilesMatch "\.(log|env|sql|bak|htaccess|git.*)$">
        <IfModule mod_authz_core.c>
            Require all denied
        </IfModule>
        <IfModule !mod_authz_core.c>
            Order Allow,Deny
            Deny from all
        </IfModule>
    </FilesMatch>
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # 2. Redireciona TUDO para o index.php, preservando a query string original (QSA)
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>